:host {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        max-width: 400px;
        width: 20%;
        height: auto;
        border-radius: 5px;
        min-height: 250px;
        border: 1px solid;
        padding: 1rem;
        margin: 1rem;
        box-sizing: border-box;
        background: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}