@if (!parentForm) {
<mat-error *ngIf="control?.hasError('min')">Minimum is {{RANGE_CONFIG.min}}</mat-error>
<mat-error *ngIf="control?.hasError('max')">Maximum is {{RANGE_CONFIG.max}}</mat-error>
}

<!-- <mat-error *ngIf="control?.hasError('required')">Range is required</mat-error> -->

<mat-error *ngIf="parentForm?.errors?.['ageOutOfRange']">
    Age must be between {{ parentForm?.errors?.['ageOutOfRange'].min }} and
    {{ parentForm?.errors?.['ageOutOfRange'].max }}
</mat-error>

<!-- <mat-error *ngIf="(control?.hasError('required') && (control?.touched || formSubmitted))"> -->
<mat-error *ngIf="(control?.hasError('required') && (control?.touched))">
    Field is required
  </mat-error>
  
  <!-- <mat-error *ngIf="!parentForm && control?.hasError('min') && (control?.touched || formSubmitted)">
    Minimum is {{ RANGE_CONFIG.min }}
  </mat-error>
  
  <mat-error *ngIf="!parentForm && control?.hasError('max') && (control?.touched || formSubmitted)">
    Maximum is {{ RANGE_CONFIG.max }}
  </mat-error> -->
  
  