<section class="container">
    <form [formGroup]="searchForm" class="formContainer">

        <div class="controlContainer">
            <app-drop-down [cntrlTitle]="'Dog Breed'" [options]="breeds" formControlName="breedName"></app-drop-down>
            <!-- <app-size-errors [control]="searchForm.get('breedName')" [RANGE_CONFIG]="RANGE_CONFIG"></app-size-errors> -->
        </div>

        <div class="controlContainer">
            <app-size-control [cntrlTitle]="'Range'" formControlName="rangeCntrl"></app-size-control>
            <app-size-errors [control]="searchForm.get('rangeCntrl')" [RANGE_CONFIG]="RANGE_CONFIG"></app-size-errors>
        </div>

    </form>

    <ng-container>
        @defer (when albumSizeSignal$().length > 0) {
            <app-album [albums]="albumSizeSignal$()"></app-album>
          } 
    </ng-container>

</section>