<section class="container">
    <form [formGroup]="searchForm" class="formContainer">

        <div class="controlContainer">
            <app-drop-down [options]="breeds" formControlName="breedName"></app-drop-down>
        </div>

        <div class="controlContainer">
            <app-size-control formControlName="rangeCntrl"></app-size-control>
            <mat-error *ngIf="searchForm.get('rangeCntrl')?.hasError('min')">Minimum is {{
                RANGE_CONFIG.min}}</mat-error>
            <mat-error *ngIf="searchForm.get('rangeCntrl')?.hasError('max')">Maximum is {{ RANGE_CONFIG.max
                }}</mat-error>
            <mat-error *ngIf="searchForm.get('rangeCntrl')?.hasError('required')">Range is required</mat-error>
        </div>


        <!-- <mat-error *ngIf="rangeCntrl.invalid && (rangeCntrl.dirty || rangeCntrl.touched)">
            <ng-container *ngIf="rangeCntrl.hasError('min')">Minimum is {{ range.min }}</ng-container>
            <ng-container *ngIf="rangeCntrl.hasError('max')">Maximum is {{ range.max }}</ng-container>
          </mat-error> -->
    </form>

    <!-- JUST IN ANY CASE -->
    @if (breedImages$().length > 0) {
    <div>
        <app-album [albums]="this.albums$().images"></app-album>
    </div>
    }


</section>