.container{
    border: 1px dotted #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}


.formContainer {
    display: flex;
    justify-content: space-around;
    // align-items: center;
    .controlContainer{
        // border: 1px dotted #ccc;
        display: flex;
        flex-direction: column;
    }
  }