<section class="container">
    <form [formGroup]="searchForm" class="formContainer">

        <div class="controlContainer">
            <app-drop-down [options]="breeds" formControlName="breedName"></app-drop-down>
        </div>

        <div class="controlContainer">
            <app-size-control formControlName="rangeCntrl"></app-size-control>
            <mat-error *ngIf="searchForm.get('rangeCntrl')?.hasError('min')">Minimum is {{
                RANGE_CONFIG.min}}</mat-error>
            <mat-error *ngIf="searchForm.get('rangeCntrl')?.hasError('max')">Maximum is {{
                RANGE_CONFIG.max}}</mat-error>
            <mat-error *ngIf="searchForm.get('rangeCntrl')?.hasError('required')">Range is required</mat-error>
        </div>

    </form>

    @if (breedImages$().length > 0) {
        <app-album [albums]="this.albums$().images"></app-album>
    }


</section>